* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

img {
    height: 300px;
    float: left;
    margin: 20px 45px 0 0; 

}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

ol {
    margin-top: 20px;   
    font-size: 23pt;
    word-spacing: 2px;
}



